.text-primary {
    color: $primary-color;
}

.text-danger {
    color: $alert-color;
}

.text-warning {
    color: $warning-color;
}

.text-info {
    color: $secondary-color;
}

.text-success {
    color: $success-color;
}